full_notebooks/control-flows.ipynb
full_notebooks/data-structures1.ipynb
full_notebooks/data-structures2.ipynb
full_notebooks/version-control.ipynb

student_exercises/solutions/control_flows.ipynb
student_exercises/solutions/data-structures.ipynb

**/.ipynb_checkpoints