full_notebooks/data-structures2.ipynb
full_notebooks/version-control.ipynb
full_notebooks/classes-functions.ipynb
full_notebooks/intro-pandas.ipynb
full_notebooks/intro-numpy.ipynb
full_notebooks/plotting.ipynb
full_notebooks/python-packaging.ipynb

student_exercises/solutions/control_flows.ipynb
student_exercises/solutions/data-structures.ipynb
student_exercises/solutions/classes.ipynb

**/.ipynb_checkpoints